__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.log
*.pot
*.swp

demo.py
family_photos.db
Backup/
Data/Fonts_archiv/
Data/Family_Members/** */
helper_functions/Testing_functions/
helper_functions/__pycache__/
